// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
$fa-font-path: "../webfonts";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
@import "vue-select/src/scss/vue-select.scss";

.form-group {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.btn-xs {
    padding: .45rem .4rem;
    font-size: .675rem;
    line-height: .5;
    border-radius: .2rem;
}

/* Dashed red border */
hr.new2 {
    border-top: 1px dashed #dee2e6;
}

.btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    box-shadow: none;
}

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.router-link-exact-active{
    background-color: #3f51b5;
    color:#fff !important;
}

.ck-editor__editable {
    min-height: 500px;
}

.card-header{
    padding-top: 0.75rem;
    padding-bottom: 0.0rem;
    padding-left: 1.50rem;
}

.date-picker input{
    display: block !important;
    width: 100% !important;
    color: #495057 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #ced4da !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
    padding: .25rem .5rem !important;
    font-size: .875rem !important;
    line-height: 1.5 !important;
    border-radius: .2rem !important;
}
label > span.required {
    color: #FF2623;
}

.sub-info {
    padding: 1px 6px;
    background: #f4f4f4;
    font-size: 11px;
    border: 1px dashed #f1c18e;
    border-radius: .2rem;
}

@media print {
    .nav.nav-tabs li:not(.active){
        display: none;
    }
    .invoice{
        padding: 10px 20px;
    }

    .invoice{
        background-position: center center;
        background-repeat: no-repeat;

    }
    .table-responsive table{
        background-color: transparent !important;
    }

}

@page {
    margin: 0;
}

