<template>
    <section class="content">
        <div class="container-fluid">
            <div class="card card-outline card-info">
                <div class="card-header">
                    <h3 class="card-title">Listing Content Categories</h3>

                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 90px;">
                            <button type="submit" class="btn btn-primary btn-sm" @click="newModal"><i class="fas fa-plus"></i> Add New</button>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th style="width:30px;">N°</th>
                            <th>Name</th>
                            <th style="width:150px;" class="text-center">Action</th>
                        </tr>
                        </thead>
                        <tbody v-for="(categories,index) in categories.data" :key="categories.id">
                        <tr>
                            <td class="text-center align-middle">{{index+1}}</td>

                            <td class="align-middle"><a href="#" @click="editModal(categories)">{{categories.name}}</a>
                                <div>
                                    <span class="sub-info blue">Slug : {{categories.slug}}</span> |
                                    <span class="sub-info teal"><i class="fa fa-clock"></i> {{categories.created_at | myDate}}</span> |
                                    <span class="sub-info"> <i class="fa fa-eye blue" v-if="categories.state == 1"></i>  <i class="fa fa-eye-slash red" v-else></i></span>
                                </div>
                            </td>

                            <td class="text-center align-middle">
                                <button type="button" class="btn btn-success btn-xs" @click="editModal(categories)"><i class="fa fa-edit"></i> Edit</button>
                                <button type="button" class="btn btn-danger btn-xs" @click="deleteCategories(categories.id)"><i class="fa fa-trash"></i> Delete</button>

                            </td>

                        </tr>

                        <tr v-for="(subCategories) in categories.subCategories" :key="subCategories.id" v-if="categories.subCategories">
                            <td class="text-center align-middle"></td>
                            <td class="align-middle"><i class="fa fa-long-arrow-alt-right orange"></i> <a href="#" @click="editModal(subCategories)">{{subCategories.name}}</a>
                                <div>
                                <span class="sub-info blue">Slug : {{subCategories.slug}}</span> | <span class="sub-info teal"><i class="fa fa-clock"></i> {{subCategories.created_at | myDate}}</span> |
                                    <span class="sub-info"> <i class="fa fa-eye blue" v-if="subCategories.state == 1"></i>  <i class="fa fa-eye-slash red" v-else></i></span>
                                </div>
                            </td>

                            <td class="text-center align-middle">
                                <button type="button" class="btn btn-success btn-xs" @click="editModal(subCategories)"><i class="fa fa-edit"></i> Edit</button>
                                <button type="button" class="btn btn-danger btn-xs" @click="deleteCategories(subCategories.id)"><i class="fa fa-trash"></i> Delete</button>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
                <div class="card-footer clearfix">
                    <pagination :data="categories" @pagination-change-page="getResults"></pagination>
                </div>
            </div>
            <!-- /.card -->

            <!-- Modal -->
            <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document" >
                    <div class="modal-content" style="width:1000px;">
                        <div class="modal-header">
                            <h5 class="modal-title" v-show="!editmode" id="addNewLabel">Add Categories</h5>
                            <h5 class="modal-title" v-show="editmode" id="addNewLabel">Update Categories</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form @submit.prevent="editmode ? updateCategories() : createCategories()">
                            <div class="modal-body">

                                <div class="form-group row">
                                    <label for="parent_id" class="col-sm-3 col-form-label text-right">Parents</label>
                                    <div class="col-sm-10 col-md-8">
                                            <select name="parent_id" v-model="form.parent_id" id="parent_id" class="form-control" :class="{ 'is-invalid': form.errors.has('parent_id') }">
                                                <option value="0">No Parent</option>
                                                <option v-for="parents in parents.data" :key="parents.id" :value="parents.id"> {{parents.name}} </option>
                                            </select>
                                            <has-error :form="form" field="parent_id"></has-error>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="name" class="col-sm-3 col-form-label text-right">Name <span class="required"> *</span></label>
                                    <div class="col-sm-10 col-md-8">
                                        <input v-model="form.name" type="text" name="name" id="name"
                                               placeholder="Name"
                                               class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                                        <has-error :form="form" field="name"></has-error>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="slug" class="col-sm-3 col-form-label text-right">URL Slug </label>
                                    <div class="col-sm-10 col-md-8">
                                            <input v-model="form.slug" type="text" name="slug" id="slug"
                                                   placeholder="URL Slug"
                                                   class="form-control" :class="{ 'is-invalid': form.errors.has('slug') }">
                                            <has-error :form="form" field="slug"></has-error>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label text-right">Alias </label>
                                    <div class="col-sm-10 col-md-8">
                                        <input v-model="form.alias" type="text" name="alias"
                                               placeholder="Alias"
                                               class="form-control" :class="{ 'is-invalid': form.errors.has('alias') }">
                                        <has-error :form="form" field="alias"></has-error>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label text-right">Description </label>
                                    <div class="col-sm-10 col-md-8">
                                        <input v-model="form.metades" type="text" name="metades"
                                               placeholder="Description"
                                               class="form-control" :class="{ 'is-invalid': form.errors.has('metades') }">
                                        <has-error :form="form" field="metades"></has-error>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label text-right">Keywords </label>
                                    <div class="col-sm-10 col-md-8">
                                        <input v-model="form.metakey" type="text" name="metakey"
                                               placeholder="keywords"
                                               class="form-control" :class="{ 'is-invalid': form.errors.has('metakey') }">
                                        <has-error :form="form" field="metakey"></has-error>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label text-right"></label>
                                    <div class="col-sm-10 col-md-8">
                                        <div class="custom-control custom-switch">
                                            <input v-model="form.state" type="checkbox" class="custom-control-input" name="state" id="state">
                                            <label class="custom-control-label" for="state">Is Active?</label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                <button v-show="editmode" type="submit" class="btn btn-success"><i class="fas fa-edit"></i> Update</button>
                                <button v-show="!editmode" type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Create</button>
                            </div>

                        </form>

                    </div>
                </div>
            </div>

        </div><!-- /.container-fluid -->
    </section>

</template>

<script>
    import Swal from 'sweetalert2/dist/sweetalert2.js'

    export default {
        data() {
            return {
                editmode: false,
                parents : {},
                categories: {},
                form: new Form({
                    id:'',
                    name : '',
                    slug : '',
                    alias: '',
                    metades : '',
                    metakey: '',
                    state: '',
                    parent_id: '0'
                })
            }
        },
        methods: {
            getParents(){
                axios.get('/api/parents')
                    .then(function (response) {
                        this.parents = response.data;
                    }.bind(this));
            },
            getResults(page = 1) {
                axios.get('api/contentCategory?page=' + page)
                    .then(response => {
                        this.categories = response.data;
                    });
            },
            updateCategories(){
                this.$loading(true)
                this.form.put('api/contentCategory/'+this.form.id)
                    .then(() => {
                        // success
                        $('#addNew').modal('hide');
                        Swal.fire(
                            'Updated!',
                            'Information has been updated.',
                            'success'
                        )
                        this.$loading(true)
                        Fire.$emit('AfterCreate');
                    })
                    .catch(() => {
                        this.$loading(true)
                    });

            },
            editModal(user){
                this.editmode = true;
                this.form.reset();
                $('#addNew').modal('show');
                this.form.fill(user);
            },
            newModal(){
                this.editmode = false;
                this.form.reset();
                $('#addNew').modal('show');
            },
            deleteCategories(id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        this.form.delete('api/contentCategory/'+id).then(()=>{
                            Swal.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            )
                            Fire.$emit('AfterCreate');
                        }).catch(()=> {
                            Swal.fire("Failed!", "There was something wronge.", "warning");
                        });
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        Swal.close();
                    }
                })
            },
            loadCategories(){
                this.$loading(true)
                axios.get("api/contentCategory")
                    .then(response => {
                        this.categories = response.data;
                        this.$loading(false)
                    });
            },

            createCategories(){
                this.form.post('api/contentCategory')
                    .then(()=>{
                        this.$loading(true);
                        Fire.$emit('AfterCreate');
                        $('#addNew').modal('hide')

                        this.$toast.success({
                            type: 'success',
                            title: 'Categories Created in successfully'
                        })
                        this.$loading(false);
                    })
                    .catch(()=>{
                        this.$toast.error({
                            title:'Edit User Categories',
                            message: error.message
                        })
                        this.$loading(false);
                    })
            }
        },
        created() {
            Fire.$on('searching',() => {
                let query = this.$parent.search;
                axios.get('api/findContentCategory?q=' + query)
                    .then((data) => {
                        this.categories = data.data
                    })
                    .catch(() => {

                    })
            })
            this.loadCategories();
            this.getParents();
            Fire.$on('AfterCreate',() => {
                this.loadCategories();
            });
            this.$loading(false);
        }
    }
</script>
