<template>
    <section class="content">
        <div class="container-fluid">
            <div class="card card-outline card-info">
                <div class="card-header">
                    <h3 class="card-title">List All Content</h3>

                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 90px;">
                            <router-link to="/content-add">
                                <button type="submit" class="btn btn-primary btn-sm"><i class="fas fa-plus"></i> Add New</button>
                            </router-link>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th style="width: 30px;">N°</th>
                            <th>Title</th>
                            <th style="width: 150px;">Modify</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(content,index) in content.data" :key="content.id">
                            <td class="align-middle">{{index+1}}</td>
                            <td class="align-middle"><router-link :to="`/content-edit/${content.id}`">{{content.title}}</router-link>
                            <div>
                            <span class="sub-info blue"><i class="fa fa-stream"></i>
                                <span v-for="(category) in content.categories" :key="category.id">{{category.name}}, </span></span> |
                                <span class="sub-info teal"><i class="fa fa-clock"></i> {{content.created_at | myDate}}</span> |
                                <span class="sub-info"> <i class="fa fa-eye blue" v-if="content.state == 1"></i>  <i class="fa fa-eye-slash red" v-else></i></span>
                            </div>
                            </td>
                            <td class="text-center align-middle">
                                <router-link :to="`/content-edit/${content.id}`">
                                    <button type="button" class="btn btn-success btn-xs"><i class="fa fa-edit"></i> Edit</button>
                                </router-link>
                                <button type="button" class="btn btn-danger btn-xs" @click="deleteContent(content.id)"><i class="fa fa-trash"></i> Delete</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
                <div class="card-footer clearfix">
                    <pagination :data="content" @pagination-change-page="getResults"></pagination>
                </div>
            </div>
            <!-- /.card -->
        </div><!-- /.container-fluid -->
    </section>

</template>

<script>

    import Swal from 'sweetalert2/dist/sweetalert2.js'

    export default {
        data() {
            return {
                editmode: false,
                content : {},
                form: new Form({
                    id : '',
                    ref_cat_id : '',
                    title : '',
                    slug : '',
                    alias : '',
                })
            }
        },
        methods: {
            getResults(page = 1) {
                axios.get('api/content?page=' + page)
                    .then(response => {
                        this.content = response.data;
                    });
            },
            loadContent(){
                this.$loading(true)
                axios.get("api/content")
                    .then(response => {
                        this.content = response.data;
                        this.$loading(false)
                    });
            },
            deleteContent(id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        this.form.put('api/trash/'+id).then(()=>{
                            Swal.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            )
                            Fire.$emit('AfterCreate');
                        }).catch(()=> {
                            Swal.fire("Failed!", "There was something wronge.", "warning");
                        });
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        Swal.close();
                    }
                })
            },
        },
        created() {
            Fire.$on('searching',() => {
                this.$loading(true)
                let query = this.$parent.search;
                axios.get('api/findContent?q=' + query)
                    .then((data) => {
                        this.users = data.data
                        this.$loading(false)
                    })
                    .catch(() => {

                    })
            })
            this.loadContent();
            Fire.$on('AfterCreate',() => {
                this.loadContent();
            });

        }
    }
</script>
