<template>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <form @submit.prevent="updateContent()" class="form-horizontal">
                        <!-- Horizontal Form -->
                        <div class="card card-outline card-info">
                            <div class="card-header">
                                <h3 class="card-title">Edit Contents</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <div class="card-body">

                                <div class="form-group row">
                                    <label for="categories" class="col-sm-2 col-form-label text-right">Categories<span class="required">*</span></label>
                                    <div class="col-sm-10 col-md-8">
                                        <v-select multiple v-model="form.categories" return-object required :options="category" label="name" value="id" name="categories" id="categories" :class="{ 'is-invalid': form.errors.has('categories') }"/>
                                        <has-error :form="form" field="categories"></has-error>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="title" class="col-sm-2 col-form-label text-right">Title<span class="required">*</span></label>
                                    <div class="col-sm-10 col-md-8">
                                        <input v-model="form.title" type="text" name="title" id="title"
                                               placeholder="Title"
                                               class="form-control" :class="{ 'is-invalid': form.errors.has('title') }">
                                        <has-error :form="form" field="title"></has-error>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="slug" class="col-sm-2 col-form-label text-right">URL Slug<span class="required">*</span></label>
                                    <div class="col-sm-10 col-md-8">
                                        <input v-model="form.slug" type="text" name="slug" id="slug"
                                               placeholder="Email Address"
                                               class="form-control" :class="{ 'is-invalid': form.errors.has('slug') }">
                                        <has-error :form="form" field="slug"></has-error>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="alias" class="col-sm-2 col-form-label text-right">Alias</label>
                                    <div class="col-sm-10 col-md-8">
                                        <input v-model="form.alias" type="text" name="alias" id="alias"
                                               placeholder="Alias"
                                               class="form-control" :class="{ 'is-invalid': form.errors.has('alias') }">
                                        <has-error :form="form" field="alias"></has-error>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="brief" class="col-sm-2 col-form-label text-right">Brief</label>
                                    <div class="col-sm-10 col-md-8">
                                        <textarea name="brief" v-model="form.brief" id="brief" class="form-control" rows="4"></textarea>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="" class="col-sm-2 col-form-label text-right">Description</label>
                                    <div class="col-sm-10 col-md-8">
                                        <ckeditor :editor="editor" v-model="form.description" :config="editorConfig" id="description" name="description"></ckeditor>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="thumb_image" class="col-sm-2 col-form-label text-right">Thumbnail</label>

                                    <div class="col-sm-10 col-md-8" v-if="form.thumb_image">
                                        <div style="padding-top:10px;">
                                            <img :src="`images/thumbnails/${form.thumb_image}`" style="max-width: 150px;"/>
                                            <button type="button" class="btn btn-danger btn-xs" @click="deleteImg(form.thumb_image)"><i class="fa fa-trash-alt"></i></button>
                                        </div>
                                    </div>

                                    <div class="col-sm-10 col-md-8" v-else>
                                        <input type="hidden" v-model="form.thumb_image" />
                                        <input type="file" id="thumb_image" name="thumb_image" ref="imageUrl" v-on:change="onImageChange" :class="{ 'is-invalid': form.errors.has('thumb_image') }"/>
                                        <has-error :form="form" field="thumb_image"></has-error>

                                        <div id="preview" style="padding-top:10px;">
                                            <img v-if="url" :src="url" style="max-width: 150px;"/>
                                            <button type="button" class="btn btn-danger btn-xs" @click="deleteImg(form.thumb_image)"><i class="fa fa-trash-alt"></i></button>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label text-right">Setting</label>
                                        <div class="col-sm-10 col-md-8">
                                            <div class="icheck-primary">
                                                <input type="checkbox" checked="" id="isBrief" v-model="form.is_brief">
                                                <label for="isBrief">Show Brief</label>
                                            </div>

                                            <div class="icheck-primary">
                                                <input type="checkbox" checked="" id="isFooter" v-model="form.is_footer">
                                                <label for="isFooter">Show Footer</label>
                                            </div>

                                            <div class="icheck-primary">
                                                <input type="checkbox" checked="" id="isHomepage" v-model="form.is_homepage">
                                                <label for="isHomepage">Show Homepage</label>
                                            </div>

                                            <div class="icheck-warning">
                                                <input type="checkbox" checked="" id="isPublish" v-model="form.state">
                                                <label for="isPublish">Publish</label>
                                            </div>
                                        </div>
                                </div>

                                <div class="form-group row">
                                    <label for="metakey" class="col-sm-2 col-form-label text-right">Meta keyword</label>
                                    <div class="col-sm-10 col-md-8">
                                        <input v-model="form.metakey" type="text" name="metakey" id="metakey"
                                               placeholder="Meta keyword"
                                               class="form-control" :class="{ 'is-invalid': form.errors.has('metakey') }">
                                        <has-error :form="form" field="metakey"></has-error>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="metades" class="col-sm-2 col-form-label text-right">Meta Description</label>
                                    <div class="col-sm-10 col-md-8">
                                        <input v-model="form.metades" type="text" name="metades" id="metades"
                                               placeholder="Meta Description"
                                               class="form-control" :class="{ 'is-invalid': form.errors.has('metades') }">
                                        <has-error :form="form" field="metades"></has-error>
                                    </div>
                                </div>


                            </div>

                            <!-- /.card-body -->
                            <div class="card-footer text-right">
                                <router-link to="/content-list">
                                    <button type="submit" class="btn btn-danger">Cancel</button>
                                </router-link>
                                <button type="submit" class="btn btn-primary"><i class="fas fa-edit"></i> Update</button>
                            </div>
                            <!-- /.card-footer -->

                        </div>
                        <!-- /.card -->

                    </form>
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>

</template>

<script>
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
    import Swal from 'sweetalert2/dist/sweetalert2.js'

    export default {
        name: 'app',
        data() {
            return {
                editor: ClassicEditor,
                description: '<p>Description.</p>',
                editorConfig: {
                    ckfinder: {
                        uploadUrl: '/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files&responseType=json'
                    }
                },
                url: null,
                users: {},
                form: new Form({
                    id: '',
                    categories: [],
                    title: '',
                    slug: '',
                    alias: '',
                    brief: '',
                    description: '',
                    is_brief: '',
                    is_footer: '',
                    is_homepage: '',
                    state: '',
                    thumb_image: '',
                    metakey: '',
                    metades: ''
                }),
                category: [],
            }
        },
        computed: {
            options: () => category,
        },
        mounted(){
            this.$loading(true)
            axios.get('api/content/'+this.$route.params.contentid)
                .then((response)=>{
                    this.form.fill(response.data.data)
                    this.$loading(false)
                })

        },
        methods: {
            onImageChange(e){
                const file = e.target.files[0];
                this.url = URL.createObjectURL(file);

                const config = {
                    headers: { 'content-type': 'multipart/form-data' }
                };

                let formData = new FormData();
                formData.append('image', file);

                axios.post('api/resizeImagePost', formData, config)
                    .then(function (response) {
                        this.form.thumb_image = response.data.data.name;
                    }.bind(this));
            },
            deleteImg(img){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        this.form.post('api/deleteImg/'+img).then((response)=>{
                            Swal.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            )
                            this.form.thumb_image = null;
                        }).catch(()=> {
                            Swal.fire("Failed!", "There was something wronge.", "warning");
                        });
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        Swal.close();
                    }
                })
            },
            getCategories(){
                axios.get('api/getAllCategories')
                    .then(function (response) {
                        this.category = response.data.data;
                    }.bind(this));
            },
            updateContent() {
                this.$loading(true)
                this.form.put('/api/content/'+this.form.id)
                    .then((response) => {
                        this.form.reset();
                        this.$loading(false)
                        this.$toast.success({
                            title:'Update Content',
                            message:'Update content successfully.'
                        })
                        this.$router.push({ name: "ContentList" });
                    })
                    .catch((error) => {
                        this.$toast.error({
                            title:'Create Content',
                            message: error.message
                        })
                        this.$loading(false)
                    })
            }
        },
        created() {
            this.getCategories();
        }
    }
</script>
