<template>
    <section class="content">
      <div class="container-fluid">
        <div class="card card-outline card-info">
              <div class="card-header">
                  <h3 class="card-title">List Role</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 90px;">
                    <button type="submit" class="btn btn-primary btn-sm" @click="newModal"><i class="fas fa-plus"></i> Add New</button>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead>
                    <tr>
                        <th style="width:30px;">N°</th>
                        <th>Name</th>
                        <th style="width:150px;">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                  <tr v-for="(role,index) in roles.data" :key="role.id">
                      <td class="align-middle">{{index+1}}</td>
                      <td class="align-middle"> <a href="#" @click="editModal(role)">{{role.name}}</a>
                          <div>
                          <span class="sub-info indigo">Description : {{role.description}}</span> | <span class="sub-info teal"><i class="fa fa-clock"></i> {{role.created_at | myDate}}</span> |
                          <span class="sub-info"> <i class="fa fa-eye blue" v-if="role.state == 1"></i>  <i class="fa fa-eye-slash red" v-else></i></span>
                          </div>
                      </td>
                      <td class="align-middle">
                          <button type="button" class="btn btn-success btn-xs" @click="editModal(role)"><i class="fa fa-edit"></i> Edit</button>
                          <button type="button" class="btn btn-danger btn-xs" @click="deleteRole(role.id)"><i class="fa fa-trash"></i> Delete</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">
                  <pagination :data="roles" @pagination-change-page="getResults"></pagination>
              </div>
            </div>
            <!-- /.card -->

          <!-- Modal -->
          <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title" v-show="!editmode" id="addNewLabel">Add New Role</h5>
                          <h5 class="modal-title" v-show="editmode" id="addNewLabel">Update Role's Info</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      <form @submit.prevent="editmode ? updateRole() : createRole()">
                          <div class="modal-body">
                              <div class="form-group">
                                  <label>Role Name<span class="required">*</span></label>
                                  <input v-model="form.name" type="text" name="name"
                                         placeholder="Name"
                                         class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                                  <has-error :form="form" field="name"></has-error>
                              </div>

                              <div class="form-group">
                                  <label>Description</label>
                                  <input v-model="form.description" type="text" name="description"
                                         placeholder="description"
                                         class="form-control" :class="{ 'is-invalid': form.errors.has('description') }">
                                  <has-error :form="form" field="description"></has-error>
                              </div>

                                <div class="form-group" style="clear: both;">
                                    <label for="menus">Menus<span class="required">*</span></label>
                                        <div v-for="menu in adminmenu.data" :key="menu.id">
        	                                <div class="icheck-primary col-md-4" style="float: left;">
                                                <input type="checkbox" :id="menu.id" :value="menu.id" name="menus[]" v-model="form.menus">
                                                <label :for="menu.id">{{menu.name}}</label>
                                            </div>
                                        </div>
                                        <br style="clear: both;"/>
                                </div>

                              <div class="form-group">
                                  <div class="custom-control custom-switch">
                                      <input v-model="form.state" type="checkbox" class="custom-control-input" name="state" id="state">
                                      <label class="custom-control-label" for="state">Is Active?</label>
                                  </div>
                              </div>

                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                              <button v-show="editmode" type="submit" class="btn btn-success"><i class="fas fa-edit"></i> Update</button>
                              <button v-show="!editmode" type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Create</button>
                          </div>

                      </form>

                  </div>
              </div>
          </div>

      </div><!-- /.container-fluid -->
    </section>

</template>

<script>
    import Swal from 'sweetalert2/dist/sweetalert2.js'

    export default {
        data() {
            return {
                editmode: false,
                roles : {},
                adminmenu: [],
                form: new Form({
                    id:'',
                    name : '',
                    state : '',
                    description : '',
                    menus: []
                })
            }
        },
        methods: {
            adminMenu(){
                axios.get('/api/adminMenu')
                    .then(function (response) {
                        this.adminmenu = response.data;
                    }.bind(this));
            },
            getResults(page = 1) {
                axios.get('api/role?page=' + page)
                    .then(response => {
                        this.roles = response.data;
                    });
            },
            updateRole(){
                this.$loading(true)
                // console.log('Editing data');
                this.form.put('api/role/'+this.form.id)
                    .then(() => {
                        // success
                        $('#addNew').modal('hide');
                        Swal.fire(
                            'Updated!',
                            'Information has been updated.',
                            'success'
                        )
                        this.$loading(true)
                        Fire.$emit('AfterCreate');
                    })
                    .catch(() => {
                        this.$loading(true)
                    });

            },
            editModal(user){
                this.editmode = true;
                this.form.reset();
                $('#addNew').modal('show');
                this.form.fill(user);
            },
            newModal(){
                this.editmode = false;
                this.form.reset();
                $('#addNew').modal('show');
            },
            deleteRole(id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        this.form.delete('api/role/'+id).then(()=>{
                            Swal.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            )
                            Fire.$emit('AfterCreate');
                        }).catch(()=> {
                            Swal.fire("Failed!", "There was something wronge.", "warning");
                        });
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        Swal.close();
                    }
                })
            },
            loadRoles(){
                this.$loading(true)
                axios.get("api/role")
                    .then(response => {
                        this.roles = response.data;
                        this.$loading(false)
                    });
            },

            createRole(){
                this.$loading(true)
                this.form.post('api/role')
                    .then(()=>{
                        Fire.$emit('AfterCreate');
                        $('#addNew').modal('hide')

                        this.$toast.success({
                            type: 'success',
                            title: 'Role Created in successfully'
                        })
                        this.$loading(false)
                    })
                    .catch(()=>{
                        this.$toast.error({
                            title:'Edit User Account',
                            message: error.message
                        })
                        this.$loading(false)
                    })
            }
        },
        created() {
            Fire.$on('searching',() => {
                let query = this.$parent.search;
                axios.get('api/findUser?q=' + query)
                    .then((data) => {
                        this.role = data.data
                    })
                    .catch(() => {

                    })
            })
            this.loadRoles();
            this.adminMenu();
            Fire.$on('AfterCreate',() => {
                this.loadRoles();
            });
        }

    }
</script>
