<template>
    <section class="content">
        <div class="container-fluid">
            <div class="card card-outline card-info">
                <div class="card-header">
                    <h3 class="card-title">ពាក្យស្នើសុំចុះឈ្មោះសម្រាប់នីតិបុគ្គល (ស្ថាប័ន/ក្រុមហ៊ុន)</h3>

                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 75px;">
                            <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-print"></i> បោះពុម្ភ</button>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th style="width: 30px;">ល.រ</th>
                            <th>ស្ថាប័ន/ក្រុមហ៊ុន</th>
                            <th>ប្រភេទ</th>
                            <th>អ្នកតំណាង</th>
                            <th>តួនាទី</th>
                            <th>លេខទូរស័ព្ទ</th>
                            <th>ស្ថានភាព</th>
                            <th>ថ្ងៃចុះឈ្មោះ</th>
                            <th style="width: 125px;">សកម្មភាព</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(content,index) in content.data" :key="content.id">
                            <td class="align-middle">{{index+1}}</td>
                            <td class="align-middle">{{content.company_name}}</td>
                            <td class="align-middle uppercase">{{content.company_type}}</td>
                            <td class="align-middle">{{content.name_kh}}</td>
                            <td class="align-middle">{{content.position}}</td>
                            <td class="align-middle">{{content.phone}}</td>
                            <td class="align-middle">
                                <span v-if="content.state == 1">
                                    <button type="submit" class="btn btn-primary btn-xs"><i class="fa fa-check-circle"></i> Approved</button>
                                </span>
                                <span v-else>
                                    <button type="submit" class="btn btn-warning btn-xs"><i class="fa fa-exclamation-circle"></i> Pending</button>
                                    <button type="submit" class="btn btn-primary btn-xs" @click="approve(content.id)"><i class="fa fa-check-circle"></i> Approve</button>
                                </span>
                            </td>
                            <td class="align-middle">{{content.created_at | myDate}}</td>
                            <td class="text-center align-middle">
                                <button type="submit" class="btn btn-info btn-xs" @click="editModal(content)"><i class="fa fa-eye"></i> បង្ហាញលំអិត</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
                <div class="card-footer clearfix">
                    <pagination :data="content" @pagination-change-page="getResults"></pagination>
                </div>
            </div>
            <!-- /.card -->

            <!-- Modal -->
            <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" v-show="editmode" id="addNewLabel">ពាក្យសុំចូលជាសមាជិក ក្លឹបធុរកិច្ចថ្មីកម្ពុជា</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form>
                            <div class="modal-body">

                                <div class="bg">
                                    អំពីក្រុមហ៊ុន/អាជីវកម្ម
                                </div>

                                <br/>

                                <div class="text-center">
                                    <img :src="'/images/startupmath/'+form.thumb_image" class="rounded mx-auto d-block" alt="..." style="width: 130px">
                                </div>

                                <hr class="new2">

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">ឈ្មោះស្ថាប័ន/ក្រុមហ៊ុន​: </label>
                                    <span class="col-sm-8 form-label" style="font-style: normal;">{{form.company_name}}</span>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">្រភេទស្ថាប័ន/ក្រុមហ៊ុន​: </label>
                                    <span class="col-sm-8 form-label uppercase">{{form.company_type}}</span>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">ឆ្នាំបង្កើត : </label>
                                    <span class="col-sm-8 form-label">{{form.year_company}}</span>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">ចំនួនបុគ្គលិកបច្ចុប្បន្ន : </label>
                                    <span class="col-sm-8 form-label">{{form.total_employee_company}}</span>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">អាសយដ្ឋាន : </label>
                                    <span class="col-sm-8 form-label">{{form.address_company | myDate}}</span>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">ទំព័រ Facebook : </label>
                                    <span class="col-sm-8 form-label">{{form.facebook_name}}</span>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">លេខទូរសព្ទ : </label>
                                    <span class="col-sm-8 form-label">{{form.phone_number_owner}}</span>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">អ៊ីម៉ែល : </label>
                                    <span class="col-sm-8 form-label">{{form.email}}</span>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">គេហទំព័រ : </label>
                                    <span class="col-sm-8 form-label">{{form.website}}</span>
                                </div>

                                <br/>

                                <div class="bg">
                                    សមាជិកតំណាង
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">ឈ្មោះអ្នកតំណាង​: </label>
                                    <span class="col-sm-8 form-label">{{form.company_name}}</span>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">តួនាទី : </label>
                                    <span class="col-sm-8 form-label">{{form.company_type}}</span>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">លេខទូរសព្ទ : </label>
                                    <span class="col-sm-8 form-label">{{form.year_company}}</span>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">អ៊ីម៉ែល : </label>
                                    <span class="col-sm-8 form-label">{{form.total_employee_company}}</span>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">ជំនាញ/បទពិសោធន៍ : </label>
                                    <span class="col-sm-8 form-label">{{form.address_company}}</span>
                                </div>


                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">ស្ថានភាព : </label>
                                    <div class="col-sm-10 col-md-8 form-label">
                                        <span v-if="form.state == 1">
                                            <button type="submit" class="btn btn-primary btn-xs"><i class="fa fa-check-circle"></i> Approved</button>
                                        </span>
                                        <span v-else>
                                            <button type="submit" class="btn btn-warning btn-xs"><i class="fa fa-exclamation-circle"></i> Pending</button>
                                        </span>
                                    </div>
                                </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">ចាកចេញ</button>
                                <button v-show="editmode" type="submit" class="btn btn-success"><i class="fa fa-print"></i> បោះពុម្ភ</button>
                            </div>

                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div><!-- /.container-fluid -->
    </section>

</template>
<style>
    .modal-dialog {
        max-width: 600px;
        margin: 1.75rem auto;
    }
    .form-group {
        margin-bottom: 0rem;
    }
</style>

<script>

    import Swal from 'sweetalert2/dist/sweetalert2.js'

    export default {
        data() {
            return {
                editmode: false,
                content : {},
                form: new Form({
                    id: '',
                    company_name: '',
                    company_type: '',
                    year_company: '',
                    total_employee_company: '',
                    address_company: '',
                    faceook_name: '',
                    phone_number_owner: '',
                    website: '',
                    representative: '',
                    position:'',
                    phone_number: '',
                    email: '',
                    skill: '',
                    state: '',
                    thumb_image: ''
                })
            }
        },
        methods: {
            getResults(page = 1) {
                axios.get('api/cambodiaCenterLegalEntityList?page=' + page)
                    .then(response => {
                        this.content = response.data;
                    });
            },
            loadContent(){
                this.$loading(true)
                axios.get("api/cambodiaCenterLegalEntityList")
                    .then(response => {
                        this.content = response.data;
                        this.$loading(false)
                    });
            },
            editModal(data){
                this.editmode = true;
                this.form.reset();
                $('#addNew').modal('show');
                this.form.fill(data);
            },
            approve(id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, approve it!'
                }).then((result) => {
                    if (result.value) {
                        this.form.put('api/cambodiaCenterApprove/'+id).then(()=>{
                            Swal.fire(
                                'Approved!',
                                'Your Member has been approved.',
                                'success'
                            )
                            Fire.$emit('AfterCreate');
                        }).catch(()=> {
                            Swal.fire("Failed!", "There was something wronge.", "warning");
                        });
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        Swal.close();
                    }
                })
            },
        },
        created() {
            Fire.$on('searching',() => {
                this.$loading(true)
                let query = this.$parent.search;
                axios.get('api/findStartupClub?q=' + query)
                    .then((data) => {
                        this.users = data.data
                        this.$loading(false)
                    })
                    .catch(() => {

                    })
            })
            this.loadContent();
            Fire.$on('AfterCreate',() => {
                this.loadContent();
            });

        }
    }
</script>
