<template>
    <section class="content">
        <div class="container-fluid">
            <div class="card card-outline card-info">
                <div class="card-header">
                    <h3 class="card-title">ពាក្យស្នើសុំចុះឈ្មោះសម្រាប់សមាជិក ក្លឹបអ្នកជំនាញបច្ចេកវិទ្យាឌីជីថល និងអ្នកវិទ្យាសាស្រ្ត</h3>

                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 75px;">
                            <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-print"></i> បោះពុម្ភ</button>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th style="width: 30px;">ល.រ</th>
                            <th>ឈ្មោះ</th>
                            <th>ឈ្មោះជាអក្សរឡាតាំង</th>
                            <th>ភេទ</th>
                            <th>លេខទូរស័ព្ទ</th>
                            <th>ស្ថានភាព</th>
                            <th>ថ្ងៃចុះឈ្មោះ</th>
                            <th style="width: 125px;">សកម្មភាព</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(content,index) in content.data" :key="content.id">
                            <td class="align-middle">{{index+1}}</td>
                            <td class="align-middle">{{content.name_kh_v}}</td>
                            <td class="align-middle uppercase">{{content.name_en_v}}</td>
                            <td class="align-middle" v-if="content.sex_v == 'MALE'">ប្រុស</td>
                            <td class="align-middle" v-else>ស្រី</td>
                            <td class="align-middle">{{content.phone_number_v}}</td>
                            <td>
                               <span v-if="content.state == 1">
                                        <button type="submit" class="btn btn-primary btn-xs"><i class="fa fa-check-circle"></i> Approved</button>
                               </span>
                                <span v-else>
                                    <button type="submit" class="btn btn-warning btn-xs"><i class="fa fa-exclamation-circle"></i> Pending</button>
                                    <button type="submit" class="btn btn-primary btn-xs" @click="approve(content.id)"><i class="fa fa-check-circle"></i> Approve</button>
                                </span>
                            </td>
                            <td class="align-middle">{{content.created_at | myDate}}</td>
                            <td class="text-center align-middle">
                                <button type="submit" class="btn btn-info btn-xs" @click="editModal(content)"><i class="fa fa-eye"></i> បង្ហាញលំអិត</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
                <div class="card-footer clearfix">
                    <pagination :data="content" @pagination-change-page="getResults"></pagination>
                </div>
            </div>
            <!-- /.card -->

            <!-- Modal -->
            <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addNewLabel">សមាជិក ក្លឹបអ្នកជំនាញបច្ចេកវិទ្យាឌីជីថល និងអ្នកវិទ្យាសាស្រ្ត</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form>
                            <div class="modal-body">

                                <div class="bg">
                                    ពត៌មានផ្ទាល់ខ្លួន
                                </div>

                                <div class="text-center">
                                    <img :src="'/images/startupmath/'+form.thumb_image" class="rounded mx-auto d-block" alt="..." style="width: 130px">
                                </div>

                                <hr class="new2">

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">ឈ្មោះ : </label>
                                    <span class="col-sm-8 form-label" style="font-style: normal;">{{form.name_kh_v}}</span>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">ឈ្មោះជាអក្សរឡាតាំង : </label>
                                    <span class="col-sm-8 form-label uppercase">{{form.name_en_v}}</span>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">ភេទ : </label>
                                    <span class="col-sm-8 form-label" v-if="form.sex_v == 'MALE'">ប្រុស</span>
                                    <span class="col-sm-8 form-label" v-else>ស្រី</span>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">សញ្ជាតិ : </label>
                                    <span class="col-sm-8 form-label">{{form.national_v}}</span>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">ថ្ងៃ​ខែ ឆ្នាំកំណើត : </label>
                                    <span class="col-sm-8 form-label">{{form.dob_v | myDate}}</span>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">ទី​កន្លែង​កំណើត​: </label>
                                    <span class="col-sm-8 form-label">{{form.pob_v}}</span>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">អាសយដ្ឋានបច្ចុប្បន្ន : </label>
                                    <span class="col-sm-8 form-label">{{form.address_v}}</span>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">លេខទូរសព្ទ : </label>
                                    <span class="col-sm-8 form-label">{{form.phone_number_v}}</span>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">អ៊ីម៉ែល : </label>
                                    <span class="col-sm-8 form-label">{{form.email_v}}</span>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">មុខរបរ និងតួនាទី : </label>
                                    <span class="col-sm-8 form-label">{{form.job_v}}</span>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">កំរិតវប្បធម៌ : </label>
                                    <span class="col-sm-8 form-label">{{form.degree_v}}</span>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">ជំនាញ : </label>
                                    <span class="col-sm-8 form-label">{{form.skill_v}}</span>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">បទពិសោធន៏ការងារ : </label>
                                    <span class="col-sm-8 form-label">{{form.work_exper_v}}</span>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">ថ្ងៃចុះឈ្មោះ : </label>
                                    <span class="col-sm-8 form-label">{{form.created_at}}</span>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">ស្ថានភាព : </label>
                                    <div class="col-sm-10 col-md-8 form-label">
                                        <span v-if="form.state == 1">
                                            <button type="submit" class="btn btn-primary btn-xs"><i class="fa fa-check-circle"></i> Approved</button>
                                        </span>
                                        <span class="orange" v-else>
                                            <button type="submit" class="btn btn-warning btn-xs"><i class="fa fa-exclamation-circle"></i> Pending</button>
                                        </span>
                                    </div>
                                </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">ចាកចេញ</button>
                                <button v-show="editmode" type="submit" class="btn btn-success"><i class="fa fa-print"></i> បោះពុម្ភ</button>
                            </div>

                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div><!-- /.container-fluid -->
    </section>

</template>

<style>
    .modal-dialog {
        max-width: 700px;
        margin: 1.75rem auto;
    }
    .form-group {
        margin-bottom: 0rem;
    }
</style>

<script>

    import Swal from 'sweetalert2/dist/sweetalert2.js'

    export default {
        data() {
            return {
                editmode: false,
                content : {},
                form: new Form({
                    id: '',
                    name_kh_v: '',
                    name_en_v: '',
                    national_v: '',
                    dob_v: '',
                    pob_v: '',
                    address_v: '',
                    phone_number_v: '',
                    job_v: '',
                    degree_v: '',
                    skill_v: '',
                    work_exper_v: '',
                    sex_v: '',
                    email_v: '',
                    state: '',
                    created_at: '',
                    thumb_image: ''
                })
            }
        },
        methods: {
            getResults(page = 1) {
                axios.get('api/digitalTechnologyScience?page=' + page)
                    .then(response => {
                        this.content = response.data;
                    });
            },
            loadContent(){
                this.$loading(true)
                axios.get("api/digitalTechnologyScience")
                    .then(response => {
                        this.content = response.data;
                        this.$loading(false)
                    });
            },
            editModal(data){
                this.editmode = true;
                this.form.reset();
                $('#addNew').modal('show');
                this.form.fill(data);
            },
            approve(id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, approve it!'
                }).then((result) => {
                    if (result.value) {
                        this.form.put('api/digitalTechnologyScienceApprove/'+id).then(()=>{
                            Swal.fire(
                                'Approved!',
                                'Your Member has been approved.',
                                'success'
                            )
                            Fire.$emit('AfterCreate');
                        }).catch(()=> {
                            Swal.fire("Failed!", "There was something wronge.", "warning");
                        });
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        Swal.close();
                    }
                })
            },
        },
        created() {
            Fire.$on('searching',() => {
                this.$loading(true)
                let query = this.$parent.search;
                axios.get('api/findYoungMathScience?q=' + query)
                    .then((data) => {
                        this.users = data.data
                        this.$loading(false)
                    })
                    .catch(() => {

                    })
            })
            this.loadContent();
            Fire.$on('AfterCreate',() => {
                this.loadContent();
            });

        }
    }
</script>
