<template>
    <section class="content">
        <div class="container-fluid">
            <div class="card card-outline card-info">
                <div class="card-header">
                    <h3 class="card-title">ពាក្យស្នើសុំចុះឈ្មោះសម្រាប់សមាជិក ក្លឹបធុរកិច្ចថ្មីកម្ពុជា</h3>

                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 75px;">
                            <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-print"></i> បោះពុម្ភ</button>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th style="width: 30px;">ល.រ</th>
                            <th>ឈ្មោះ</th>
                            <th>ឈ្មោះជាអក្សរឡាតាំង</th>
                            <th>ភេទ</th>
                            <th>លេខទូរស័ព្ទ</th>
                            <th>ឈ្មោះក្រុមហ៊ុន​(ឈ្មោះពេញ)</th>
                            <th>ស្ថានភាព</th>
                            <th>ថ្ងៃចុះឈ្មោះ</th>
                            <th style="width: 125px;">សកម្មភាព</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(content,index) in content.data" :key="content.id">
                            <td class="align-middle">{{index+1}}</td>
                            <td class="align-middle">{{content.name_kh}}</td>
                            <td class="align-middle uppercase">{{content.name_en}}</td>
                            <td class="align-middle" v-if="content.sex_v == 'MALE'">ប្រុស</td>
                            <td class="align-middle" v-else>ស្រី</td>
                            <td class="align-middle">{{content.phone_number_owner}}</td>
                            <td class="align-middle">{{content.company_name}}</td>
                            <td class="align-middle">
                                <span v-if="content.state == 1">
                                    <button type="submit" class="btn btn-primary btn-xs"><i class="fa fa-check-circle"></i> Approved</button>
                                </span>
                                <span v-else>
                                    <button type="submit" class="btn btn-warning btn-xs"><i class="fa fa-exclamation-circle"></i> Pending</button>
                                    <button type="submit" class="btn btn-primary btn-xs" @click="approve(content.id)"><i class="fa fa-check-circle"></i> Approve</button>
                                </span>
                            </td>
                            <td class="align-middle">{{content.created_at | myDate}}</td>
                            <td class="text-center align-middle">
                                <button type="submit" class="btn btn-info btn-xs" @click="editModal(content)"><i class="fa fa-eye"></i> បង្ហាញលំអិត</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
                <div class="card-footer clearfix">
                    <pagination :data="content" @pagination-change-page="getResults"></pagination>
                </div>
            </div>
            <!-- /.card -->

            <!-- Modal -->
            <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" v-show="editmode" id="addNewLabel">ពាក្យសុំចូលជាសមាជិក ក្លឹបធុរកិច្ចថ្មីកម្ពុជា</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form>
                            <div class="modal-body">

                                <div class="bg">
                                    ពត៌មានផ្ទាល់ខ្លួន
                                </div>

                                <br/>

                                <div class="text-center">
                                    <img :src="'/images/startupmath/'+form.thumb_image" class="rounded mx-auto d-block" alt="..." style="width: 130px">
                                </div>

                                <hr class="new2">

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">ឈ្មោះ​: </label>
                                    <span class="col-sm-8 form-label" style="font-style: normal;">{{form.name_kh}}</span>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">ឈ្មោះជាអក្សរឡាតាំង​: </label>
                                    <span class="col-sm-8 form-label uppercase">{{form.name_en}}</span>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">ភេទ : </label>
                                    <span class="col-sm-8 form-label">{{form.sex}}</span>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">សញ្ជាតិ : </label>
                                    <span class="col-sm-8 form-label">{{form.nationality}}</span>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">ថ្ងៃ​ខែ​ឆ្នាំកំណើត : </label>
                                    <span class="col-sm-8 form-label">{{form.date_of_birth | myDate}}</span>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">ទីកន្លែងកំណើត : </label>
                                    <span class="col-sm-8 form-label">{{form.place_of_birth}}</span>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">អាសយដ្ឋានបច្ចុប្បន្ន : </label>
                                    <span class="col-sm-8 form-label">{{form.address}}</span>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">លេខទូរស័ព្ទ : </label>
                                    <span class="col-sm-8 form-label">{{form.phone}}</span>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">អ៊ីម៉ែល : </label>
                                    <span class="col-sm-8 form-label">{{form.email}}</span>
                                </div>

                                <br/>

                                <div class="bg">
                                    អំពីក្រុមហ៊ុន/អាជីវកម្ម
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">ឈ្មោះក្រុមហ៊ុន : </label>
                                    <span class="col-sm-8 form-label">{{form.company_name}}</span>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">ប្រភេទអាជីវកម្ម : </label>
                                    <span class="col-sm-8 form-label">{{form.company_type}}</span>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">ឆ្នាំបង្កើតអាជីវកម្ម : </label>
                                    <span class="col-sm-8 form-label">{{form.year_company}}</span>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">ចំនួនបុគ្គលិកបច្ចុប្បន្ន : </label>
                                    <span class="col-sm-8 form-label">{{form.total_employee_company}}</span>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">អាសយដ្ឋាន​: </label>
                                    <span class="col-sm-8 form-label">{{form.address_company}}</span>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">ទំព័រFacebook : </label>
                                    <span class="col-sm-8 form-label">{{form.facebook_name}}</span>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">លេខទូរសព្ទ : </label>
                                    <span class="col-sm-8 form-label">{{form.phone_number_owner}}</span>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">គេហទំព័រ : </label>
                                    <span class="col-sm-8 form-label">{{form.website}}</span>
                                </div>

                                <br/>
                                <div class="bg">
                                    សមាជិកតំណាង
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">ឈ្មោះអ្នកតំណាង : </label>
                                    <span class="col-sm-8 form-label">{{form.representative}}</span>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">តួនាទី : </label>
                                    <span class="col-sm-8 form-label">{{form.position}}</span>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">លេខទូរស័ព្ទ : </label>
                                    <span class="col-sm-8 form-label">{{form.phone_number}}</span>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">អ៊ីម៉ែល : </label>
                                    <span class="col-sm-8 form-label">{{form.email}}</span>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">ជំនាញ/បទពិសោធន៍ : </label>
                                    <span class="col-sm-8 form-label">{{form.skill}}</span>
                                </div>


                                <br/>
                                <div class="bg">
                                    កម្មវត្ថុ នៃការចូលរួមជាមួយ ក្លឹបធុរកិច្ចថ្មី
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">បង្កើនទំនាក់ទំនង : </label>
                                    <span class="col-sm-8 form-label">
                                        <div class="icheck-primary d-inline">
                                            <input type="checkbox" id="checkboxPrimary1" checked="" v-model="form.increase_contact">
                                            <label for="checkboxPrimary1">
                                            </label>
                                        </div>
                                    </span>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">ចង់ផ្ដល់ប្រឹក្សាយោបល់ : </label>
                                    <span class="col-sm-8 form-label">
                                       <div class="icheck-primary d-inline">
                                            <input type="checkbox" id="checkboxPrimary2" checked="" v-model="form.give_advice">
                                            <label for="checkboxPrimary2">
                                            </label>
                                        </div>
                                    </span>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">ចង់កៀរគរទុន : </label>
                                    <span class="col-sm-8 form-label">
                                       <div class="icheck-primary d-inline">
                                            <input type="checkbox" id="checkboxPrimary3" checked="" v-model="form.capital">
                                            <label for="checkboxPrimary3">
                                            </label>
                                        </div>
                                    </span>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">ចង់បានប្រឹក្សាយោបល់ : </label>
                                    <span class="col-sm-8 form-label">
                                       <div class="icheck-primary d-inline">
                                            <input type="checkbox" id="checkboxPrimary4" checked="" v-model="form.consult">
                                            <label for="checkboxPrimary4">
                                            </label>
                                        </div>
                                    </span>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">ចង់គាំទ្រអាជីកម្មគ្នា : </label>
                                    <span class="col-sm-8 form-label">
                                       <div class="icheck-primary d-inline">
                                            <input type="checkbox" id="checkboxPrimary5" checked="" v-model="form.support">
                                            <label for="checkboxPrimary5">
                                            </label>
                                        </div>
                                    </span>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">ចង់រៀនបន្ថែមពីអាជីវកម្ម : </label>
                                    <span class="col-sm-8 form-label">
                                       <div class="icheck-primary d-inline">
                                            <input type="checkbox" id="checkboxPrimary6" checked="" v-model="form.about_business">
                                            <label for="checkboxPrimary6">
                                            </label>
                                        </div>
                                    </span>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">ថ្ងៃចុះឈ្មោះ : </label>
                                    <span class="col-sm-8 form-label">{{form.created_at}}</span>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">ស្ថានភាព : </label>
                                    <div class="col-sm-10 col-md-8 form-label">
                                        <span v-if="form.state == 1">
                                            <button type="submit" class="btn btn-primary btn-xs"><i class="fa fa-check-circle"></i> Approved</button>
                                        </span>
                                        <span v-else>
                                            <button type="submit" class="btn btn-warning btn-xs"><i class="fa fa-exclamation-circle"></i> Pending</button>
                                        </span>
                                    </div>
                                </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">ចាកចេញ</button>
                                <button v-show="editmode" type="submit" class="btn btn-success"><i class="fa fa-print"></i> បោះពុម្ភ</button>
                            </div>

                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div><!-- /.container-fluid -->
    </section>

</template>
<style>
    .modal-dialog {
        max-width: 600px;
        margin: 1.75rem auto;
    }
    .form-group {
        margin-bottom: 0rem;
    }
</style>

<script>

    import Swal from 'sweetalert2/dist/sweetalert2.js'

    export default {
        data() {
            return {
                editmode: false,
                content : {},
                form: new Form({
                    id: '',
                    name_kh: '',
                    name_en: '',
                    sex: '',
                    email: '',
                    nationality: '',
                    date_of_birth: '',
                    place_of_birth: '',
                    address: '',
                    phone: '',
                    company_name: '',
                    company_type: '',
                    year_company: '',
                    total_employee_company: '',
                    address_company: '',
                    facebook_name: '',
                    phone_number_owner: '',
                    website: '',
                    representative: '',
                    skill: '',
                    increase_contact: '',
                    consult: '',
                    phone_number: '',
                    give_advice: '',
                    support: '',
                    capital: '',
                    about_business: '',
                    other: '',
                    position: '',
                    state: '',
                    created_at: '',
                    thumb_image: ''
                })
            }
        },
        methods: {
            getResults(page = 1) {
                axios.get('api/startupClub?page=' + page)
                    .then(response => {
                        this.content = response.data;
                    });
            },
            loadContent(){
                this.$loading(true)
                axios.get("api/startupClub")
                    .then(response => {
                        this.content = response.data;
                        this.$loading(false)
                    });
            },
            editModal(data){
                this.editmode = true;
                this.form.reset();
                $('#addNew').modal('show');
                this.form.fill(data);
            },
            approve(id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, approve it!'
                }).then((result) => {
                    if (result.value) {
                        this.form.put('api/startupClubApprove/'+id).then(()=>{
                            Swal.fire(
                                'Approved!',
                                'Your Member has been approved.',
                                'success'
                            )
                            Fire.$emit('AfterCreate');
                        }).catch(()=> {
                            Swal.fire("Failed!", "There was something wronge.", "warning");
                        });
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        Swal.close();
                    }
                })
            },
        },
        created() {
            Fire.$on('searching',() => {
                this.$loading(true)
                let query = this.$parent.search;
                axios.get('api/findStartupClub?q=' + query)
                    .then((data) => {
                        this.users = data.data
                        this.$loading(false)
                    })
                    .catch(() => {

                    })
            })
            this.loadContent();
            Fire.$on('AfterCreate',() => {
                this.loadContent();
            });

        }
    }
</script>
