<template>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- Horizontal Form -->
                    <form @submit.prevent="updateUser()" class="form-horizontal">
                    <div class="card card-outline card-info">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fas fa-users orange"></i> Edit User Accounts</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                            <div class="card-body">

                                <div class="form-group row">
                                    <label for="name" class="col-sm-2 col-form-label text-right">Name</label>
                                    <div class="col-sm-10 col-md-8">
                                        <input v-model="form.name" type="text" name="name"
                                               placeholder="Name"
                                               class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                                        <has-error :form="form" field="name"></has-error>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="email" class="col-sm-2 col-form-label text-right">Email</label>
                                    <div class="col-sm-10 col-md-8">
                                        <input v-model="form.email" type="email" name="email"
                                               placeholder="Email Address"
                                               class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                                        <has-error :form="form" field="email"></has-error>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="con_password" class="col-sm-2 col-form-label text-right">Roles</label>
                                    <div class="col-sm-10 col-md-8">
                                        <div class="form-group">
                                            <select name="user_role" v-model="form.user_role" id="role_id" class="form-control" :class="{ 'is-invalid': form.errors.has('user_role') }">
                                                <option value="0">Select User Role</option>
                                                <option v-for="roles in roles.data" :key="roles.id" :value="roles.id"> {{roles.name}} </option>
                                            </select>
                                            <has-error :form="form" field="user_role"></has-error>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <div class="offset-sm-2 col-sm-10">
                                        <div class="custom-control custom-switch">
                                            <input v-model="form.state" type="checkbox" class="custom-control-input" name="state" id="state">
                                            <label class="custom-control-label" for="state">Is Active</label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- /.card-body -->
                    </div>
                    <!-- /.card -->

                    <div class="card card-outline card-info">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fas fa-users orange"></i> User Profile</h3>
                            <input type="hidden" name="profileId" id="profileId" v-model="form.profileId">
                        </div>

                        <div class="card-body">

                            <div class="form-group row">
                                <label for="name_kh" class="col-sm-2 col-form-label text-right">Name Khmer</label>
                                <div class="col-sm-10 col-md-8">
                                    <input v-model="form.name_kh" type="text" name="name_kh"
                                           placeholder="Name Khmer"
                                           class="form-control" :class="{ 'is-invalid': form.errors.has('name_kh') }">
                                    <has-error :form="form" field="name_kh"></has-error>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="name_en" class="col-sm-2 col-form-label text-right">Name English</label>
                                <div class="col-sm-10 col-md-8">
                                    <input v-model="form.name_en" type="text" name="name_en"
                                           placeholder="Name Emglish"
                                           class="form-control" :class="{ 'is-invalid': form.errors.has('name_en') }">
                                    <has-error :form="form" field="name_en"></has-error>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="con_password" class="col-sm-2 col-form-label text-right">Gender</label>
                                <div class="col-sm-10 col-md-8">

                                    <select name="sex" v-model="form.sex" id="sex" class="form-control" :class="{ 'is-invalid': form.errors.has('sex') }">
                                        <option value="Male" selected>Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Other">Other</option>
                                    </select>
                                    <has-error :form="form" field="sex"></has-error>

                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="nationality" class="col-sm-2 col-form-label text-right">Nationality</label>
                                <div class="col-sm-10 col-md-8">
                                    <input v-model="form.nationality" type="text" name="nationality"
                                           placeholder="Nationality"
                                           class="form-control" :class="{ 'is-invalid': form.errors.has('nationality') }">
                                    <has-error :form="form" field="nationality"></has-error>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="date_of_birth" class="col-sm-2 col-form-label text-right">Date of Birth</label>
                                <div class="col-sm-10 col-md-8">

                                <div class="input-group date" id="timepicker" data-target-input="nearest">
                                    <date-picker name="date_of_birth" v-model="form.date_of_birth" :config="{format: 'YYYY-MM-DD'}"></date-picker>
                                    <div class="input-group-append" data-target="#timepicker" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                                    </div>
                                </div>

                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="place_of_birth" class="col-sm-2 col-form-label text-right">Place of Birth</label>
                                <div class="col-sm-10 col-md-8">
                                    <input v-model="form.place_of_birth" type="text" name="place_of_birth"
                                           placeholder="Place of birth"
                                           class="form-control" :class="{ 'is-invalid': form.errors.has('place_of_birth') }">
                                    <has-error :form="form" field="place_of_birth"></has-error>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="phone" class="col-sm-2 col-form-label text-right">Phone</label>
                                <div class="col-sm-10 col-md-8">
                                    <input v-model="form.phone" type="text" name="phone"
                                           placeholder="Phone"
                                           class="form-control" :class="{ 'is-invalid': form.errors.has('phone') }">
                                    <has-error :form="form" field="phone"></has-error>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="address" class="col-sm-2 col-form-label text-right">Address</label>
                                <div class="col-sm-10 col-md-8">
                                    <input v-model="form.address" type="text" name="address"
                                           placeholder="Address"
                                           class="form-control" :class="{ 'is-invalid': form.errors.has('address') }">
                                    <has-error :form="form" field="address"></has-error>
                                </div>
                            </div>

                        </div>

                        <!-- /.card-body -->
                        <div class="card-footer text-right">
                            <router-link to="/user-list">
                                <button type="submit" class="btn btn-danger">Cancel</button>
                            </router-link>
                            <button type="submit" class="btn btn-success"><i class="fas fa-edit"></i> Save</button>
                        </div>
                        <!-- /.card-footer -->

                    </div>
                    </form>
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>

</template>

<script>
import Vue from 'vue';
import datePicker from 'vue-bootstrap-datetimepicker';
import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';
Vue.use(datePicker);

    export default {
        data() {
            return {
                roles: {},
                form: new Form({
                    id: '',
                    name: '',
                    email: '',
                    state: '',
                    user_role : '',
                    name_kh: '',
                    name_en: '',
                    sex: '',
                    date_of_birth: '',
                    place_of_birth: '',
                    phone: '',
                    address: '',
                    nationality: '',
                    user_account_id: ''
                })
            }
        },
        mounted(){
            this.$loading(true)
            axios.get('api/users/'+this.$route.params.userid)
                .then((response)=>{
                    this.form.fill(response.data.data)
                    this.getRoles();
                    this.$loading(false)
                })

        },
        methods: {
            getRoles(){
                axios.get('/api/role')
                    .then(function (response) {
                        this.roles = response.data;
                    }.bind(this));
            },
            updateUser() {
                this.form.put('/api/users/'+this.form.id)
                    .then((response) => {
                        this.$router.push('/user-list')
                        this.$toast.success({
                            title:'Edit User Account',
                            message:'Edit user account successfully.'
                        })
                    })
                    .catch((error) => {
                        this.$toast.error({
                            title:'Edit User Account',
                            message: error.message
                        })
                    })
            }
        }
    }
</script>
