<template>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <form @submit.prevent="createUser()" class="form-horizontal">
                    <!-- Horizontal Form -->
                    <div class="card card-outline card-info">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fas fa-users orange"></i> Create User Accounts</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                            <div class="card-body">

                                <div class="form-group row">
                                    <label for="name" class="col-sm-2 col-form-label text-right">Name</label>
                                    <div class="col-sm-10 col-md-8">
                                        <input v-model="form.name" type="text" name="name"
                                               placeholder="Name"
                                               class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                                        <has-error :form="form" field="name"></has-error>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="email" class="col-sm-2 col-form-label text-right">Email</label>
                                    <div class="col-sm-10 col-md-8">
                                        <input v-model="form.email" type="email" name="email"
                                               placeholder="Email Address"
                                               class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                                        <has-error :form="form" field="email"></has-error>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="password" class="col-sm-2 col-form-label text-right">Password</label>
                                    <div class="col-sm-10 col-md-8">
                                        <input v-model="form.password" type="password" name="password" id="password"
                                               class="form-control" :class="{ 'is-invalid': form.errors.has('password') }">
                                        <has-error :form="form" field="password"></has-error>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="con_password" class="col-sm-2 col-form-label text-right">Confirm Password</label>
                                    <div class="col-sm-10 col-md-8">
                                        <input v-model="form.con_password" type="password" name="con_password" id="con_password"
                                               class="form-control" :class="{ 'is-invalid': form.errors.has('Confirm Password') }">
                                        <has-error :form="form" field="con_password"></has-error>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="con_password" class="col-sm-2 col-form-label text-right">Roles</label>
                                    <div class="col-sm-10 col-md-8">

                                        <div class="form-group">
                                            <select name="user_role" v-model="form.user_role" id="user_role" class="form-control" :class="{ 'is-invalid': form.errors.has('user_role') }">
                                                <option value="0" selected>-- Select User Role --</option>
                                                <option v-for="roles in roles.data" :key="roles.id" :value="roles.id"> {{roles.name}} </option>
                                            </select>
                                            <has-error :form="form" field="user_role"></has-error>
                                        </div>

<!--                                        <div class="custom-control custom-checkbox" v-for="roles in roles.data" :key="roles.id">-->
<!--                                                <input type="checkbox" :id="roles.id" name="roles[]" :value="roles.id" v-model="form.roles" class="custom-control-input">-->
<!--                                                <label :for="roles.id" class="custom-control-label">{{ roles.name }}</label>-->
<!--                                        </div>-->

                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="offset-sm-2 col-sm-10">
                                        <div class="custom-control custom-switch">
                                            <input v-model="form.state" type="checkbox" class="custom-control-input" name="state" id="state">
                                            <label class="custom-control-label" for="state">Is Active?</label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                    </div>
                    <!-- /.card -->
                    <div class="card card-outline card-info">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fas fa-users orange"></i> User Profile</h3>
                        </div>

                        <div class="card-body">

                            <div class="form-group row">
                                <label for="name_kh" class="col-sm-2 col-form-label text-right">Name Khmer</label>
                                <div class="col-sm-10 col-md-8">
                                    <input v-model="form.name_kh" type="text" name="name_kh" id="name_kh"
                                           placeholder="Name Khmer"
                                           class="form-control" :class="{ 'is-invalid': form.errors.has('name_kh') }">
                                    <has-error :form="form" field="name_kh"></has-error>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="name_en" class="col-sm-2 col-form-label text-right">Name English</label>
                                <div class="col-sm-10 col-md-8">
                                    <input v-model="form.name_en" type="text" name="name_en" id="name_en"
                                           placeholder="Name Emglish"
                                           class="form-control" :class="{ 'is-invalid': form.errors.has('name_en') }">
                                    <has-error :form="form" field="name_en"></has-error>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="sex" class="col-sm-2 col-form-label text-right">Gender</label>
                                <div class="col-sm-10 col-md-8">

                                    <select name="sex" v-model="form.sex" id="sex" class="form-control" :class="{ 'is-invalid': form.errors.has('sex') }">
                                        <option value="Male" selected>Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Other">Other</option>
                                    </select>
                                    <has-error :form="form" field="sex"></has-error>

                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="nationality" class="col-sm-2 col-form-label text-right">Nationality</label>
                                <div class="col-sm-10 col-md-8">
                                    <input v-model="form.nationality" type="text" name="nationality" id="nationality"
                                           placeholder="Nationality"
                                           class="form-control" :class="{ 'is-invalid': form.errors.has('nationality') }">
                                    <has-error :form="form" field="nationality"></has-error>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="timepicker" class="col-sm-2 col-form-label text-right">Date of Birth</label>
                                <div class="col-sm-10 col-md-8">

                                <div class="input-group date" id="timepicker" data-target-input="nearest">
                                    <date-picker name="date_of_birth" v-model="form.date_of_birth" :config="{format: 'YYYY-MM-DD'}"></date-picker>
                                    <div class="input-group-append" data-target="#timepicker" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                                    </div>
                                </div>

                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="place_of_birth" class="col-sm-2 col-form-label text-right">Place of Birth</label>
                                <div class="col-sm-10 col-md-8">
                                    <input v-model="form.place_of_birth" type="text" name="place_of_birth" id="place_of_birth"
                                           placeholder="Place of birth"
                                           class="form-control" :class="{ 'is-invalid': form.errors.has('place_of_birth') }">
                                    <has-error :form="form" field="place_of_birth"></has-error>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="phone" class="col-sm-2 col-form-label text-right">Phone</label>
                                <div class="col-sm-10 col-md-8">
                                    <input v-model="form.phone" type="text" name="phone" id="phone"
                                           placeholder="Name"
                                           class="form-control" :class="{ 'is-invalid': form.errors.has('phone') }">
                                    <has-error :form="form" field="phone"></has-error>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="fax" class="col-sm-2 col-form-label text-right">Fax</label>
                                <div class="col-sm-10 col-md-8">
                                    <input v-model="form.fax" type="text" name="fax"
                                           placeholder="fax"
                                           class="form-control" :class="{ 'is-invalid': form.errors.has('fax') }">
                                    <has-error :form="fax" field="fax"></has-error>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="address" class="col-sm-2 col-form-label text-right">Address</label>
                                <div class="col-sm-10 col-md-8">
                                    <input v-model="form.address" type="text" name="address"
                                           placeholder="Name"
                                           class="form-control" :class="{ 'is-invalid': form.errors.has('address') }">
                                    <has-error :form="form" field="address"></has-error>
                                </div>
                            </div>

                        </div>

                        <!-- /.card-body -->
                        <div class="card-footer text-right">
                            <router-link to="/user-list">
                                <button type="submit" class="btn btn-danger">Cancel</button>
                            </router-link>
                            <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
                        </div>
                        <!-- /.card-footer -->

                    </div>
                    </form>
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>

</template>

<script>
import Vue from 'vue';
import datePicker from 'vue-bootstrap-datetimepicker';
import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';
Vue.use(datePicker);

    export default {
        data() {
            return {
                users: {},
                roles: {},
                form: new Form({
                    id: '',
                    name: '',
                    email: '',
                    password: '',
                    user_role: '0',
                    fax: '',
                    name_kh: '',
                    name_en: '',
                    sex: 'Male',
                    date_of_birth: '',
                    place_of_birth: '',
                    phone: '',
                    address: '',
                    nationality: ''
                }),
            }
        },
        methods: {
            getRoles(){
                axios.get('/api/role')
                    .then(function (response) {
                        this.roles = response.data;
                    }.bind(this));
            },
            createUser() {
                this.$loading(true)
                this.form.post('/api/users')
                    .then((response) => {
                        this.form.reset();
                        this.$loading(false)
                        this.$toast.success({
                            title:'Create User',
                            message:'Create user successfully.'
                        })
                    })
                    .catch((error) => {
                        this.$toast.error({
                            title:'Create User',
                            message: error.message
                        })
                        this.$loading(false)
                    })
            }
        },
        created() {
            this.getRoles();
        }
    }
</script>
